.group {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}
.rank-highlight {
    background-color: green; /* Sets the background color to yellow */
    padding: 5px; /* Optional: Adds some padding around the rank number */
    border-radius: 5px; /* Optional: Rounds the corners of the background */
}

.group-title {
    background-color: #f7f7f7;
    color: #333;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.group-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 10px;
}
body {
    background-image: url('assets/login.jpg'); /* Replace 'your-image-url.jpg' with the actual path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Keep the background image fixed during scrolling */
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure body takes the minimum necessary height */
}


/* Optional: Adding a background overlay for better readability */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust color and transparency as needed */
    z-index: 1; /* Ensure it's below content */
}

/* Ensuring content is above the overlay */
.container {
    position: relative;
    z-index: 2;
   
}
